*.egg-info
venv3

*.gz
*.zip
*.pyc
*.user
*.suo
*.db
*.opendb

*.tlog
*.idb
*.exp
[Dd]ebug/
[Rr]elease/

.coverage

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf

*.opendb
*.db
src/obj/
*.metaproj
*.tmp
*/.vs/*
*.cache
*.user
*.code-workspace
.vscode/
build/
dist/
silverpieces.egg-info/
.pytest_cache/

.ipynb_checkpoints

